In [45]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [46]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1837,tt0242423,13000000,73180723,"Dude, Whereâ€™s My Car?",Ashton Kutcher|Seann William Scott|Kristy Swan...,Danny Leiner,"After a night they can't remember, comes a day...","Jesse and Chester, two bumbling stoners, wake ...",83,Comedy,Twentieth Century Fox Film Corporation|Alcon E...,12/15/2000,5.1,2000
1595,tt0265208,25000000,30411183,The Girl Next Door,Emile Hirsch|Elisha Cuthbert|Timothy Olyphant|...,Luke Greenfield,Matt never saw her coming... but all his frien...,Exceptionally ambitious high schooler Matthew ...,108,Comedy,Regency Enterprises|Epsilon Motion Pictures|Ne...,4/9/2004,6.2,2004
336,tt0375568,65000000,44091067,Astro Boy,Nicolas Cage|Kristen Bell|Bill Nighy|Donald Su...,David Bowers,Have a blast.,"Set in futuristic Metro City, Astro Boy is abo...",94,Animation|Action|Family|Science Fiction,The Weinstein Company|Summit Entertainment|Tez...,10/15/2009,6.0,2009
591,tt0250310,11000000,23978402,Corky Romano,Chris Kattan|Vinessa Shaw|Peter Falk|Peter Ber...,Rob Pritts,Undercover and Out The Way!,"Corky Romano is a bumbling, simpleton, veterin...",86,Action|Comedy|Crime,Robert Simonds Productions|Touchstone Pictures,10/12/2001,4.4,2001
432,tt1235189,8000000,3453043,Wild Target,Bill Nighy|Emily Blunt|Rupert Grint|Rupert Eve...,Jonathan Lynn,They said 'Take her out'. He got the wrong idea.,"Victor Maynard is a middle-aged, solitary assa...",98,Action|Comedy,Matador Pictures|Isle of Man Film|Magic Light ...,6/17/2010,6.1,2010

In [47]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [48]:
answers = {} # создадим словарь для ответов
data['profit'] = data['revenue'] - data['budget']
data['release_date'] = pd.to_datetime(data['release_date'], format = '%m/%d/%Y')

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [49]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [50]:
data.loc[data['budget'] == data['budget'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000

ВАРИАНТ 2

In [51]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [52]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals'

In [53]:
data.loc[data['runtime'] == data['runtime'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [54]:
data.loc[data['runtime'] == data['runtime'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,-15540000

In [55]:
answers['3'] = 'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [56]:
data['runtime'].mean()

109.6585494970884

In [57]:
answers['4'] = '110'

# 5. Каково медианное значение длительности фильмов?

In [58]:
data['runtime'].median()

107.0

In [59]:
answers['5'] = '107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [60]:
data[data['profit'] == data['profit'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,2544505847

In [61]:
answers['6'] = 'Avatar'

# 7. Какой фильм самый убыточный?

In [62]:
data[data['profit'] == data['profit'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

In [63]:
answers['7'] = 'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [64]:
data.loc[data['profit'] > 0].count()

imdb_id                 1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_average            1478
release_year            1478
profit                  1478
dtype: int64

In [65]:
answers['8'] = '1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [66]:
from datetime import datetime
rd = data.loc[(data['release_date'] >= datetime(2008,1,1)) & (data['release_date'] <= datetime(2008,12,31))]
rd.loc[rd['revenue'] == rd['revenue'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825

In [67]:
answers['9'] = 'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [68]:
from datetime import datetime
rd = data.loc[(data['release_date'] >= datetime(2012,1,1)) & (data['release_date'] <= datetime(2014,12,31))]
rd.loc[rd['profit'] == rd['profit'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

In [69]:
answers['10'] = 'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [70]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

ВАРИАНТ 2

In [72]:
data1 = data.copy()
data1['genres'] = data1.genres.str.split('|')
data1 = data1.explode('genres')
data1.head()
data1.genres.value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

In [35]:
answers['11'] = 'Drama'

{'Action',
 'Adventure',
 'Animation',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Foreign',
 'History',
 'Horror',
 'Music',
 'Mystery',
 'Romance',
 'Science Fiction',
 'Thriller',
 'War',
 'Western'}

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [73]:
data1.loc[data1['profit'] > 0].genres.value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

In [74]:
answers['12'] = 'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [95]:
data2 = data.copy()
data2['director'] = data2.director.str.split('|')
data2 = data2.explode('director')
data2.head()
data2.groupby('director')['revenue'].sum().sort_values()

director
Simon Hunter            2033165
Keanu Reeves            2054941
Paul Schrader           2062066
Steven Shainberg        2281089
David MichÃ´d           2295423
                        ...
J.J. Abrams          3579169916
Michael Bay          3886938960
David Yates          4154295625
Christopher Nolan    4167548502
Peter Jackson        6490593685
Name: revenue, Length: 997, dtype: int64

In [78]:
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [97]:
data2 = data1.loc[data1['genres'] == 'Action'].copy()
data2['director'] = data2.director.str.split('|')
data2 = data2.explode('director')
data2.head()
data2.groupby('director').count().sort_values(by='genres', ascending = False)

,imdb_id,budget,revenue,original_title,cast,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
director,,,,,,,,,,,,,,
Robert Rodriguez,9,9,9,9,9,9,9,9,9,9,9,9,9,9
Michael Bay,7,7,7,7,7,7,7,7,7,7,7,7,7,7
Paul W.S. Anderson,7,7,7,7,7,7,7,7,7,7,7,7,7,7
Ridley Scott,6,6,6,6,6,6,6,6,6,6,6,6,6,6
Antoine Fuqua,6,6,6,6,6,6,6,6,6,6,6,6,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
John Whitesell,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Brian A Miller,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Jon Amiel,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Jon Avnet,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Luis Mandoki,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [98]:
answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [99]:
data2 = data.loc[(data['release_date'] >= datetime(2012,1,1)) & (data['release_date'] <= datetime(2012,12,31)) ].copy()
data2['cast'] = data2.cast.str.split('|')
data2 = data2.explode('cast')
data2.groupby('cast')['revenue'].sum().sort_values(ascending=False)

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Robert Downey Jr.    1519557910
Mark Ruffalo         1519557910
                        ...
Michael Nyqvist         3428048
Danny Huston            2106557
Josh Lucas              2106557
Sami Gayle              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

In [ ]:
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [100]:
data2 = data.loc[data['budget'] > data['budget'].mean()].copy()
data2['cast'] = data2.cast.str.split('|')
data2 = data2.explode('cast')
data2.groupby('cast').count().sort_values(by='budget', ascending=False)

,imdb_id,budget,revenue,original_title,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
cast,,,,,,,,,,,,,,
Matt Damon,18,18,18,18,18,18,18,18,18,18,18,18,18,18
Adam Sandler,17,17,17,17,17,17,17,17,17,17,17,17,17,17
Angelina Jolie,16,16,16,16,16,16,16,16,16,16,16,16,16,16
Tom Cruise,15,15,15,15,15,15,15,15,15,15,15,15,15,15
Eddie Murphy,15,15,15,15,15,15,15,15,15,15,15,15,15,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Jennifer Hudson,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Jennifer Jason Leigh,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Jennifer Saunders,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Jennifer Tilly,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Ã“lafur Darri Ã“lafsson,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [101]:
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [103]:
data2 = data1.copy()
data2['cast'] = data2.cast.str.split('|')
data2 = data2.explode('cast')
data2.head()
data2.loc[data2['cast'] == 'Nicolas Cage'].groupby('genres').count().sort_values(by='runtime', ascending = False)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,production_companies,release_date,vote_average,release_year,profit
genres,,,,,,,,,,,,,,
Action,17,17,17,17,17,17,17,17,17,17,17,17,17,17
Thriller,15,15,15,15,15,15,15,15,15,15,15,15,15,15
Drama,12,12,12,12,12,12,12,12,12,12,12,12,12,12
Crime,10,10,10,10,10,10,10,10,10,10,10,10,10,10
Fantasy,8,8,8,8,8,8,8,8,8,8,8,8,8,8
Adventure,7,7,7,7,7,7,7,7,7,7,7,7,7,7
Comedy,6,6,6,6,6,6,6,6,6,6,6,6,6,6
Science Fiction,4,4,4,4,4,4,4,4,4,4,4,4,4,4
Animation,3,3,3,3,3,3,3,3,3,3,3,3,3,3
Family,3,3,3,3,3,3,3,3,3,3,3,3,3,3
Mystery,3,3,3,3,3,3,3,3,3,3,3,3,3,3
History,2,2,2,2,2,2,2,2,2,2,2,2,2,2
Horror,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Romance,1,1,1,1,1,1,1,1,1,1,1,1,1,1
War,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [0]:
answers['17'] = 'Nicolas Cage'

# 18. Самый убыточный фильм от Paramount Pictures

In [105]:
data2 = data.copy()
data2['production_companies'] = data2.production_companies.str.split('|')
data2 = data2.explode('production_companies')
data2.loc[data2['production_companies'] == 'Paramount Pictures'][['profit', 'original_title']].sort_values(by='profit')

         profit                                     original_title
925   -64831034                               K-19: The Widowmaker
1123  -60519261                                           Timeline
1722  -51788987                                               Next
1623  -46604061                                              Alfie
1631  -24805000                                            Twisted
...         ...                                                ...
730   549713380               Mission: Impossible - Ghost Protocol
1738  559709780                                       Transformers
603   601636033  Indiana Jones and the Kingdom of the Crystal S...
317   686297228                Transformers: Revenge of the Fallen
828   928746996                     Transformers: Dark of the Moon

[122 rows x 2 columns]

In [ ]:
answers['18'] = 'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [106]:
data.groupby('release_year')['revenue'].sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

In [107]:
answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [113]:
data2 = data.copy()
data2['production_companies'] = data2.production_companies.str.split('|')
data2 = data2.explode('production_companies')
data2.loc[data2['production_companies'].str.contains('Warner Bros')].groupby('release_year')['profit'].sum().sort_values(ascending=False)
#data2.loc[data2['production_companies'].str.contains('Warner Bros')]

release_year
2014    2292949646
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1844008221
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1282142579
2012    1258020056
2002    1022709901
2015     870368348
2006     625351872
2000     452631386
Name: profit, dtype: int64

In [ ]:
answers['20'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [117]:
data['release_month'] = data['release_date'].apply(lambda x: x.month)
data.head()
data.groupby('release_month').count()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
release_month,,,,,,,,,,,,,,,
1,110,110,110,110,110,110,110,110,110,110,110,110,110,110,110
2,135,135,135,135,135,135,135,135,135,135,135,135,135,135,135
3,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156
4,149,149,149,149,149,149,149,149,149,149,149,149,149,149,149
5,140,140,140,140,140,140,140,140,140,140,140,140,140,140,140
6,147,147,147,147,147,147,147,147,147,147,147,147,147,147,147
7,142,142,142,142,142,142,142,142,142,142,142,142,142,142,142
8,161,161,161,161,161,161,161,161,161,161,161,161,161,161,161
9,227,227,227,227,227,227,227,227,227,227,227,227,227,227,227
10,186,186,186,186,186,186,186,186,186,186,186,186,186,186,186
11,146,146,146,146,146,146,146,146,146,146,146,146,146,146,146
12,190,190,190,190,190,190,190,190,190,190,190,190,190,190,190

In [ ]:
answers['21'] = '9'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [118]:
data.loc[(data['release_month']==6)|(data['release_month']==7)|(data['release_month']==8)].shape

(450, 16)

In [119]:
answers['22'] = '450'

# 23. Для какого режиссера зима – самое продуктивное время года?

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)